extends layout

block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          | MekanBul 
          small &nbsp; Civardaki Mekanları Keşfet!
  .row
    .row-list-group
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Cinema Pink 
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 800m 
        p.address İyaş AVM
        p
          span.label.label-warning Film
          |&nbsp;
      | &nbsp;
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Tekinoğlu Fırını 
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 800m 
        p.address İyaş AVM
        p
          span.label.label-warning Kurabiye
          |&nbsp;
          span.label.label-warning Simit
          |&nbsp;
      | &nbsp;
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Tekinoğlu Fırını 
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 800m 
        p.address İyaş AVM
        p
          span.label.label-warning Kurabiye
          |&nbsp;
          span.label.label-warning Simit
          |&nbsp;
  
      